xarray
jupyterlab
dask
dask[distributed]
zarr
rioxarray
fsspec
s3fs
netCDF4
pygeoapi
flask_cors
jinja2==3.0.3
pip
xpublish
matplotlib
rasterio
Pillow
cf_xarray
shapely
ndpyramid
pyproj
mercantile
h5netcdf
opendap_protocol