body {
    margin: 0px;
}

.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.controls {
    position: absolute;
    right: 1em;
    bottom:  2em;
    width: 350px;
    height: 50px;
    background-color: #efefef2f;
    border-radius: 8px;
    padding: 8px;
}

.control-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.control-label {
    color: #ffffff;
    padding-right: 16px;
}

.control-slider {
    flex: 1;
}